builds
Box-Office-Movies/Box-Office-Movies.xcodeproj/xcuserdata/bilal.xcuserdatad
Box-Office-Movies/fastlane/screenshots/*/*.png
Box-Office-Movies/fastlane/screenshots/screenshots.html
Box-Office-Movies.xcworkspace/xcuserdata/bilal.xcuserdatad
Box-Office-Movies-Core/Box-Office-Movies-Core.xcodeproj/xcuserdata/bilal.xcuserdatad
Development.xcconfig
Staging.xcconfig
Production.xcconfig