//
//  Development.xcconfig
//  Box-Office-Movies
//
//  Created by Bilal Benlarbi on 09/01/2020.
//  Copyright © 2020 Bilal Benlarbi. All rights reserved.
//

#include "Base.xcconfig"
#include "./../Pods/Target Support Files/Pods-Box-Office-Movies/Pods-Box-Office-Movies.debug-development.xcconfig"
#include "./../Pods/Target Support Files/Pods-Box-Office-Movies/Pods-Box-Office-Movies.release-development.xcconfig"
#include "./../Pods/Target Support Files/Pods-Box-Office-Movies/Pods-Box-Office-Movies.debug-development_ci.xcconfig"

APP_NAME = $(BASE_APP_NAME) (dev)
APP_BUNDLE_IDENTIFIER = $(BASE_APP_BUNDLE_IDENTIFIER).dev
