//
//  Production.xcconfig
//  Box-Office-Movies
//
//  Created by Bilal on 09/01/2020.
//  Copyright © 2020 Boxotop. All rights reserved.
//

#include "Base.xcconfig"
#include "./../Pods/Target Support Files/Pods-Box-Office-Movies/Pods-Box-Office-Movies.debug-production.xcconfig"
#include "./../Pods/Target Support Files/Pods-Box-Office-Movies/Pods-Box-Office-Movies.release-production.xcconfig"

APP_NAME = $(BASE_APP_NAME)
APP_BUNDLE_IDENTIFIER = $(BASE_APP_BUNDLE_IDENTIFIER)
