//
//  Staging.xcconfig
//  Box-Office-Movies
//
//  Created by Bilal Benlarbi on 09/01/2020.
//  Copyright © 2020 Bilal Benlarbi. All rights reserved.
//

#include "Base.xcconfig"
#include "./../Pods/Target Support Files/Pods-Box-Office-Movies/Pods-Box-Office-Movies.debug-staging.xcconfig"
#include "./../Pods/Target Support Files/Pods-Box-Office-Movies/Pods-Box-Office-Movies.release-staging.xcconfig"

APP_NAME = $(BASE_APP_NAME) (staging)
APP_BUNDLE_IDENTIFIER = $(BASE_APP_BUNDLE_IDENTIFIER).staging
